<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Grid.Base451" version="15.3.0.26" targetFramework="net452" />
  <package id="Syncfusion.Grid.Windows451" version="15.3.0.26" targetFramework="net452" />
  <package id="Syncfusion.Shared.Base451" version="15.3.0.26" targetFramework="net452" />
  <package id="Syncfusion.Shared.Windows451" version="15.3.0.26" targetFramework="net452" />
  <package id="Syncfusion.SpellChecker.Base451" version="15.3.0.26" targetFramework="net452" />
  <package id="Syncfusion.Tools.Base451" version="15.3.0.26" targetFramework="net452" />
  <package id="Syncfusion.Tools.Windows451" version="15.3.0.26" targetFramework="net452" />
</packages>